{% extends 'base.html' %}


{% block title %}
Sign up
{% endblock title %}




{% block content %}
<main>
    <h1>Sign Up</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
