{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}


<main>
    <div>
        <h1>My Tasks</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in my_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ value|yesno }}</td>
                </tr>
                {% endfor %}
                {% if not my_tasks %}
                <p>You have no tasks</p>
                {% endif %}
            </tbody>
    </div>
</main>

{% endblock content %}
