{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}


<main>
    <h1> {{ show_project.name }} </h1>
    <h2>{{ show_project.description }}</h2>
    <p>
        <a href="{% url 'create_task' %}">Create a new task</a>
    </p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in show_project.tasks.all %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee.username }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ value|yesno }}</td>
                </tr>
                {% endfor %}
                {% if not show_project.tasks.all %}
                <p>This project has no tasks</p>
                {% endif %}
            </tbody>
    </div>
</main>

{% endblock content %}
