{% extends 'base.html' %}

{% block title %} Project List {% endblock title %}
{% block content %}

<main>
    <div>
        <h1>My Projects</h1>
        <a href="{% url 'create_project' %}">Create a project</a>
        {% for project in list_projects %}
        <table>
            <thead>
                <tr>
                    <th> Project Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <a href="{% url 'show_project' project.id %}"> {{ project.name }} </a> </td>
                    <td>{{ project.tasks.all|length }} </td>
                </tr>
            </tbody>
        </table>

        {% endfor %}
        {% if not list_projects %}
        <p>You are not assigned to any projects</p>
        {% endif %}
    </div>

</main>
{% endblock content %}
